# Стандартные библиотеки Python
requests==2.32.3
markupsafe==3.0.2

# Библиотеки для веб-разработки
Flask==3.1.0
gunicorn==23.0.0

# Библиотеки для работы с данными
pandas==2.2.3
numpy==2.2.2
scikit-learn==1.6.1
matplotlib==3.10.0
pillow==11.1.0

# Другие библиотеки
boto3==1.36.9

# Документация и тестирование
Sphinx==8.1.3
pytest==8.3.4